__pycache__/
.DS_Store
.idea/

01-tf_read_write/data/image/test/*
01-tf_read_write/data/image/train/*
01-tf_read_write/data/cifar-10-batches-py/*
01-tf_read_write/data/*.tfrecord

02-cifar10/data/*.tfrecord

03-face_detection/dataset/**/*.jpg
03-face_detection/dataset/**/*.xml

04-face_recognition/dataset/**/*.bmp
04-face_recognition/dataset/**/*.png
04-face_recognition/dataset/**/*.jpg

05-application/server/images/*.jpg
05-application/server/models/*.pb